.board-container {
   display: flex;
   flex-direction: column;

   width: 100%;
   height: 100%;
}

.board-header {
   width: 100%;
   height: 7rem;
   
   padding: 2rem;

   display: flex;
   align-items: center;

   background-color: rgba(0, 0, 0, 0.25);
}

.board-title {
   font-size: 2rem;
   font-weight: 700;

   background-color: transparent;

   padding: 0.5rem;

   border: 0.2rem solid transparent;
   border-radius: 0.4rem;

   cursor: pointer;

   overflow: hidden;
   white-space: nowrap;
   text-overflow: ellipsis;

   transition: border-color 0.2s ease;
}

.board-title:focus {
   border-color: var(--info);

   cursor: text;
}

.board-body {
   height: calc(100% - 7rem);
}