.lists-container {
   display: flex;
   align-items: start;
   flex-wrap: nowrap;
   gap: 2rem;

   height: 100%;
}

.list {  
   flex: 0 0 27rem;
   
   display: flex;
   flex-direction: column;

   max-height: 100%;

   background-color: var(--darker-main);

   border-radius: 0.5rem;
}

.list-header {
   flex-shrink: 0;

   padding: 1rem 2rem 1rem 1rem;

   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 1rem;
}

.list-header > input {
   font-size: 1.6rem;

   flex-grow: 1;

   padding: 0.5rem 1rem;

   background-color: transparent;

   border: 0.2rem solid transparent;
   border-radius: 0.5rem;

   cursor: pointer;

   overflow: hidden;
   white-space: nowrap;
   text-overflow: ellipsis;

   transition: border-color 0.2s ease;
}

.list-header > input:focus {
   cursor: text;

   border-color: var(--info);
}

.list-header > svg {
   font-size: 1.4rem;
}

.list-body {
   flex: 1 1 auto;

   padding: 0 0.5rem;
   margin: 0 0.5rem;

   overflow: auto;
}

.list-body::-webkit-scrollbar {
   width: 0.7rem;
   height: 0.7rem;
}

/* Track */
.list-body::-webkit-scrollbar-track {
   background: rgba(0, 0, 0, 0.1);

   border-radius: 0.3rem;
}

/* Handle */
.list-body::-webkit-scrollbar-thumb {
   background: var(--lighter-main);

   border-radius: 0.3rem;
}

.list-content {
   display: flex;
   flex-direction: column;
   gap: 1rem;

   overflow: hidden;
}

.task {
   padding: 1rem 1.5rem;

   background-color: var(--main);

   border-radius: 0.5rem;

   cursor: pointer;

   transition: background-color 0.2s ease;
}

.task:hover {
   background-color: var(--light-main);
}

.task > p {
   font-size: 1.4rem;
}

.list-footer {
   flex-shrink: 0;

   padding: 1rem;

   display: flex;
   align-items: center;
   justify-content: center;
}

.list-footer-button {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 1.5rem;

   width: 100%;

   padding: 0.5rem 1rem;

   border-radius: 0.5rem;

   background-color: transparent;

   cursor: pointer;

   transition: background-color 0.2s ease;
}

.list-footer-button:hover {
   background-color: var(--lighter-main);
}

.list-footer-button > svg {
   font-size: 1.8rem;
}

.list-footer-button > p {
   font-weight: 500;
}

.list-create {
   flex: 0 0 27rem;
   
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 1rem;
   
   padding: 1rem;

   background-color: var(--darker-main);

   border-radius: 0.5rem;
}

.list-create > button {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 1rem;
   
   padding: 0.5rem 1rem;

   flex-grow: 1;

   cursor: pointer;

   border: 0.2rem solid transparent;
   border-radius: 0.5rem;

   transition: background-color 0.2s ease;
}

.list-create > button:hover {
   background-color: var(--lighter-main);
}

.list-create svg {
   font-size: 1.8rem;
}