.project-container {
   display: flex;
   flex-direction: column;

   width: 100%;
   height: 100%;
}

.project-header {
   width: 100%;
   height: 7rem;
   
   padding: 2rem;

   display: flex;
   align-items: center;

   background-color: rgba(0, 0, 0, 0.25);
}

.project-title {
   font-size: 2rem;

   margin: 0;
}

.project-body {
   height: calc(100% - 7rem);
}