.modal-container {
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;

   background-color: rgba(0, 0, 0, 0.5);

   backdrop-filter: blur(0.3rem);

   visibility: hidden;
   opacity: 0;

   z-index: var(--modal-index);
   
   transition: opacity 0.3s linear, visibility 0.3s linear;
}

.modal-container.active {
   visibility: visible;
   opacity: 1;
}

.modal-container.active > .modal {
   transform: translateY(0);
}

.modal {
   width: 100%;
   height: 100%;

   display: flex;
   justify-content: center;
   align-items: center;

   transform: translateY(100%);

   transition: transform 0.3s linear;
}