.body {
   display: grid;
   grid-template-columns: 30rem 1fr;
   grid-template-rows: min-content 1fr;
   grid-template-areas: "head head"
                        "side main";

   height: 100vh;
}

.body-header {
   grid-area: head;
}

.body-main {
   grid-area: main;

   min-width: 0;
   min-height: 0;

   height: 100%;
}

.body-aside {
   grid-area: side;
}
