.header {
   padding: 1.5rem 3rem;

   border-bottom: 0.1rem solid var(--border-color);
}

.header-brand {
   display: flex;
   
   width: min-content;

   font-size: 2rem;
   font-weight: 700;
}

.header-brand > p {
   transition: color 0.2s ease;
}

.header-brand:hover > p {
   color: var(--info);
}

.header-brand > span {
   filter: brightness(0.7);

   transition: filter 0.2s ease;
}

.header-brand:hover > span {
   filter: brightness(1);
}